form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  input[type="text"] {
    border: 2px solid #d6336c;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    font-size: 1.25em; /* Ajusta esto según tus necesidades */
    width: calc(100% - 24px);
  }
  
  button {
    background-color: #d6336c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.25em; /* Asegura que el tamaño de texto sea igual al del input */
    min-width: 120px;
  }
  
  button:hover {
    background-color: #c72e62;
  }
  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: #d6336c;
    line-height: 1.6;
    letter-spacing: 0.5px;
    word-spacing: 1px;
  }