body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dancing Script', cursive;
  background-color: #ffe0e9; /* Un suave color rosa de fondo */
  color: #d6336c;
  padding: 20px;
  font-size: 18px;
}

@media (min-width: 768px) {
  body {
    font-size: 20px; /* Tamaño base de la fuente para tabletas y escritorios */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 2.5em; /* Significativamente más grande, basado en el tamaño base del body */
}

button {
  padding: 0.5em 1em;
  font-size: 1.25em; /* Más grande para mejorar la legibilidad y la interacción */
}

.animation {
  font-size: 1.5em; /* Asegura que el mensaje también sea grande y claro */
}

@media (min-width: 768px) {
  h1 {
    font-size: 3em; /* Aún más grande en pantallas amplias */
  }

  /* Ajusta otros elementos según sea necesario */
}